:root {
  --greenAccentColor: #24cca7;
  --redAccentColor: #ff6596;
  --hoveredTextColor: #4a56e2;
  --secondaryTextColor: #bdbdbd;
  --secondaryButtonColor: #4a56e2;
  --textOnDarkBackgroundColor: #fff;
  --globalBgColor: #F1F2F7;
  --iconShadow: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}
