:root {
  --greenAccentColor: #24cca7;
  --redAccentColor: #ff6596;
  --hoveredTextColor: #4a56e2;
  --secondaryTextColor: #bdbdbd;
  --secondaryButtonColor: #4a56e2;
  --textOnDarkBackgroundColor: #fff;
  --activeNavTextColor: #4a56e2;
  --secondaryNavIconColor: #6E78E8;
  --globalBgColor: #F1F2F7;
  --grayColor: #A6A6A6;
  --iconShadow: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  --navTransition: color 0.4s ease, fill 0.4s ease;
}
