:root {
  --greenAccentColor: #24cca7;
  --redAccentColor: #ff6596;
  --hoveredTextColor: #4a56e2;
  --secondaryTextColor: #bdbdbd;
  --secondaryButtonColor: #4a56e2;
  --textOnDarkBackgroundColor: #fff;
  --activeNavTextColor: #4a56e2;
  --secondaryNavIconColor: #6e78e8;
  --globalBgColor: #f1f2f7;
  --whiteBgColor: #fff;
  --darkBgFormColor: #e5e5e5;
  --lightBgFormColor: rgba(255, 255, 255, 0.4);
  --placeholderTextColor: #bdbdbd;
  --iconShadow: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  --navTransition: color 0.4s ease, fill 0.4s ease;
}
