

.chartContainer{
    position: relative;
    min-width: 260px;
    min-height: 260px;
    max-height: 280px;
    max-width: 280px;
    margin: 0 auto;
}
.chart{
    width: 280px;
    height: 280px;
 
}
.totalValue{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    color: black;
    font-size: 18px;
line-height: 23px;
font-weight: normal;
}
@media (min-width: 768px){
    .chartContainer{

        margin-right: 30px;
        max-width: 320px;
        max-height: 320px;
    }  
    .chart{
        width: 320px;
        height: 320px;
    }
}