.dashboardWrap {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../assets/images/bashboard-bg.jpg") no-repeat center;
  background-size: cover;
}

.leftContainer {
  position: relative;
  padding: 40px 30px 0 0;
  width: 100%;
  height: 100%;
  max-width: 35%;
}

.leftContainer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: calc(100vh - 80px);
  border: 1px solid #E7E5F2;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.05), 1px 0 0 rgba(255, 255, 255, 0.6);
}

.rightContainer {
  position: relative;
  padding: 40px 0 0 30px;
  width: 100%;
  height: 100%;
  max-width: 65%;
}

.leftHeadContainer {
  display: flex;
}

@media (max-width: 1280px) {
  .balanceBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .leftContainer,
  .rightContainer {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .leftHeadContainer {
    flex-direction: column;
  }

  .leftHeadContainer {
    display: flex;
  }

  .leftContainer {
    display: flex;
    gap: 20px;
  }

  .leftContainer,
  .rightContainer {
    max-width: 100%;
  }

  .leftContainer::after {
    display: none;
  }

  .leftContainer,
  .rightContainer {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 600px) {
  .leftContainer {
    flex-direction: column;
  }

  .leftContainer,
  .rightContainer {
    max-width: 100%;
    padding: 30px 0 0 0;
  }
}

@media (max-width: 425px) {
  .leftContainer,
  .rightContainer {
    padding: 14px 0 0 0;
  }

  .dashboardWrap {
    background: unset;
  }
}

@media (min-width: 769px) and (max-width: 1280px){
  .leftHeadContainer{
    flex-direction: column;
  }

  .leftContainer::after{
    width: 0;
    border: none;
  }

  .leftContainer,
  .rightContainer{
    margin: 0 auto;
    max-width: 100%;
    margin-top: 40px;
    padding: 0;
  }

  .leftContainer{
    display: flex;
    justify-content: space-between;
  }

  .balanceBlock{
    width: 48%;
  }
}