.DashboardWrap {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../assets/images/bashboard-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.LeftContainer {
  position: relative;
  padding: 40px 30px 0 0;
  width: 100%;
  height: 100%;
  max-width: 35%;
}

.LeftContainer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: calc(100vh - 80px);
  border: 1px solid #E7E5F2;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.05), 1px 0 0 rgba(255, 255, 255, 0.6);
}

.RightContainer {
  position: relative;
  padding: 40px 0 0 30px;
  width: 100%;
  height: 100%;
  max-width: 65%;
}

@media (max-width: 1000px) {
  .LeftContainer,
  .RightContainer {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .LeftHeadContainer {
    flex-direction: column;
  }

  .LeftHeadContainer {
    display: flex;
  }

  .LeftContainer {
    display: flex;
    gap: 20px;
  }

  .LeftContainer,
  .RightContainer {
    max-width: 100%;
  }

  .LeftContainer::after {
    display: none;
  }

  .LeftContainer,
  .RightContainer {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 600px) {
  .LeftContainer {
    flex-direction: column;
  }

  .LeftContainer,
  .RightContainer {
    max-width: 100%;
    padding: 30px 0 0 0;
  }
}

@media (max-width: 425px) {
  .LeftContainer,
  .RightContainer {
    padding: 14px 0 0 0;
  }

  .DashboardWrap {
    background: unset;
  }
}