.navigation {
  margin-bottom: 34px;
}

.navigationLink {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.1;
  fill: currentColor;
  color: var(--secondaryNavIconColor);
  transition: --navTransition;
  will-change: color, transition;
}

.navigationLink:not(:last-of-type) {
  margin-bottom: 20px;
}

.navigationLink span {
  color: #000000;
}

.navigationLink i {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.active i {
  filter: var(--iconShadow);
}

.active span {
  font-weight: bold;
  color: var(--activeNavTextColor);
}

.mainLink {
  background-image: url('../../assets/icons/home.svg');
}

.statisticLink {
  background-image: url('../../assets/icons/statistic.svg');
}

.currencyLink {
  background-image: url('../../assets/icons/currency.svg');
}

.currencyLinkWrap {
  display: none;
}

@media (max-width: 768px)  {
  .navigation {
    margin-bottom: 24px;
  }
}

@media (max-width: 425px) {
  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin: 0 auto 14px auto;
  }

  .navigationLink:not(:last-of-type) {
    margin-bottom: 0;
  }

  .navigationLink span {
    display: none;
  }

  .navigationLink i {
    width: 38px;
    height: 38px;
    margin-right: 0;
  }

  .currencyLinkWrap {
    display: block;
  }
}