.Navigation {
  margin-bottom: 34px;
}

.NavigationLink {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.1;
  fill: currentColor;
  color: var(--secondaryNavIconColor);
  transition: --navTransition;
  will-change: color, transition;
}

.NavigationLink:not(:last-of-type) {
  margin-bottom: 20px;
}

.NavigationLink span {
  color: #000000;
}

.NavigationLink i {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.Active i {
  filter: var(--iconShadow);
}

.Active span {
  font-weight: bold;
  color: var(--activeNavTextColor);
}

.MainLink {
  background-image: url('../../assets/icons/home.svg');
}

.StatisticLink {
  background-image: url('../../assets/icons/statistic.svg');
}

.CurrencyLink {
  background-image: url('../../assets/icons/currency.svg');
}

.CurrencyLinkWrap {
  display: none;
}

@media (max-width: 768px)  {
  .Navigation {
    margin-bottom: 24px;
  }
}

@media (max-width: 425px) {
  .Navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin: 0 auto 14px auto;
  }

  .NavigationLink:not(:last-of-type) {
    margin-bottom: 0;
  }

  .NavigationLink span {
    display: none;
  }

  .NavigationLink i {
    width: 38px;
    height: 38px;
    margin-right: 0;
  }

  .CurrencyLinkWrap {
    display: block;
  }
}