.LogInPag {
    padding: 0;
    height: 10vh;
  }
  
  .Ellipse1 {
    display: none;
    position: absolute;
    transform: rotate(-16.86deg);
    width: 618px;
    height: 547px;
    left: -53.33px;
    top: 585px;
    background: #c5baff;
    border-radius: 50%;
    z-index: 2;
  }
  
  .Ellipse2 {
    display: none;
    position: absolute;
    width: 618px;
    height: 547px;
    right: -300px;
    top: -253px;
    background: #ffd8d0;
    transform: rotate(21.94deg);
    border-radius: 50%;
    z-index: 2;
  }
  
  .ImgWrap {
    display: none;
  }
  
  
  @media (min-width: 426px) {
    .LogInPage {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 60px 14% 48px;
      overflow: hidden;
    }
  
    .Ellipse1 {
      display: block;
    }
  
    .Ellipse2 {
      display: block;
    }
  
    .LogInPageWrap {
      display: flex;
      flex-direction: column;
    }
  
    .ImgWrap {
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      z-index: 2;
    }
  
    .LogInImage {
      max-width: 45%;
    }
  
    h1 {
      font-style: normal;
      font-weight: normal;
      margin-left: 7%;
      font-family: Poppins;
      font-size: 30px;
      line-height: 1.5;
    }
  
    .FormBox {
      z-index: 10;
    }
  }
  
  @media (min-width: 769px) {
    .LogInPage {
      padding: 0;
    }
  
    .LogInPageWrap {
      flex-direction: row;
    }
  
    .ImgWrap {
      width: 40%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0px;
      z-index: 2;
    }
  
    .LogInImage {
      max-width: 100%;
    }
  
    h1 {
      margin-top: 32px;
    }
  
    .FormBox {
      width: 60%;
      min-height: 100vh;
      padding: 100px 95px;
      background: var(--lightBgFormColor);
      backdrop-filter: blur(50px);
    }
  }
  